<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbarSection">
        <div class="superHeading"><a href="/">To Do List</a></div>
        <div><a href="/allTask">All Tasks</a></div>
    </div>
</body>

</html>