<%- include("partials/header.ejs") %>
<div class="lists">
    <form action="/yourAllList" method="POST">
        <input type="submit" value="Your list">
    </form>
    <form action="/workAllList" method="POST">
        <input type="submit" value="work list">
    </form>
</div>
<% if(locals.yourTasks){ %>
    <div class="heroSection">
    <div class="taskContainer allContainer">
    <% for(var i=1;i<yourTasks.length;i++){  %>
            <div class="task">
                <div class="taskContent">
                    <%= yourTasks[i].name%>
                </div>
            </div>
        
    <% } %>
</div>
<%} %>
</div>
<%- include("partials/footer.ejs") %>